.footer {
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
  padding: 10px 20px;
  text-align: center;
}

.footer-text {
  font-size: var(--info-size);
  font-weight: 300;
}

.footer-link {
  color: var(--primary-color-light);
  font-family: var(--font-heading);
  font-weight: 700;
  border-bottom: 1px solid var(--primary-color-light);
}

.footer-brand {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--text-color-light);
}
