.watchlist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 15px;

  width: 100%;
  padding: 20px;

  background-color: var(--background);
  color: var(--foreground);
}

.watchlist-page__title {
  max-width: 1000px;

  font-size: var(--title-size);
}

.watchlist-page__content {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;
  max-width: 800px;
}
