.crypto-card {
  display: grid;
  grid-template-columns: 1fr 70px 60px;
  align-items: center;

  width: 100%;
  height: 50px;
  padding: 5px;

  background-color: var(--secondary-color-main-10);
  border-top: 1px solid var(--accent-color-main-30);
}

.crypto-card:hover {
  background-color: var(--secondary-color-main-30);
}

.crypto-header {
  display: flex;
  align-items: center;
  gap: 5px;

  max-width: 90%;
}

.crypto-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.crypto-name {
  max-width: 140px;

  font-size: var(--info-size);
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.crypto-price {
  font-size: var(--paragraph-size);
  font-weight: 400;
  color: var(--text-color);
  font-family: var(--font-heading);
  margin-right: auto;
}

.crypto-price-change {
  font-size: var(--info-size);
  font-weight: 500;
  font-family: var(--font-heading);
  text-align: center;
}

.crypto-price-change.positive {
  color: var(--success-main);
}

.crypto-price-change.negative {
  color: var(--error-main);
}

@media screen and (min-width: 720px) {
  .crypto-card {
    grid-template-columns: 1fr 100px 100px;
  }

  .crypto-name {
    max-width: 350px;
  }
}