.crypto-card__container {
  display: grid;
  grid-template-columns: 1fr 70px 60px;
  align-items: center;

  width: 100%;
  height: 50px;
  padding: 5px;

  background-color: color-mix(in srgb, var(--secondary) 50%, transparent 50%);
  border-top: 1px solid color-mix(in srgb, var(--accent) 75%, transparent 25%);
}

.crypto-card__container:hover {
  background-color: color-mix(in srgb, var(--accent) 25%, transparent 75%);
}

.crypto-card__header {
  display: flex;
  align-items: center;
  gap: 5px;

  max-width: 90%;
}

.crypto-card__image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.crypto-card__name {
  max-width: 140px;

  font-size: var(--info-size);
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.crypto-card__price {
  font-size: var(--paragraph-size);
  font-weight: 400;
  color: var(--text-color);
  font-family: var(--font-heading);
  margin-right: auto;
}

.crypto-card__price-change {
  font-size: var(--info-size);
  font-weight: 500;
  font-family: var(--font-heading);
  text-align: center;
}

.crypto-card__price-change.positive {
  color: var(--success-main);
}

.crypto-price-change.negative {
  color: var(--error-main);
}

@media screen and (min-width: 720px) {
  .crypto-card__container {
    grid-template-columns: 1fr 100px 100px;
  }

  .crypto-card__name {
    max-width: 350px;
  }
}
