@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


:root {
  /* Fonts */
  --font-heading: 'Montserrat', 'Segoe UI', 'Helvetica Neue', sans-serif;
  --font-body: 'Roboto Slab', Georgia, serif;

  /* Theme: Dark */
  --text-color-main: #e0e0e0;
  --text-color-light: #f5f5f5;
  --text-color-dark: #a0a0a0;

  --bg-color-main: #0f0f13;
  --bg-color-light: #23232e;
  --bg-color-dark: #08080a;

  --primary-color-main: #6a4fff;
  --primary-color-light: #8a78ff;
  --primary-color-dark: #4c36b8;
  --primary-color-hover: #866dff;

  --secondary-color-main: #2d1b5a;
  --secondary-color-light: #453074;
  --secondary-color-dark: #1b1040;
  --secondary-color-hover: #3b2a70;

  --accent-color-main: #c950ff;
  --accent-color-light: #db8eff;
  --accent-color-dark: #a037cc;
  --accent-color-hover: #d873ff;


/* Theme: Light (desactivado por ahora) */
  /* 
  --text-color-main: #1a1a1a;
  --text-color-light: #4d4d4d;
  --text-color-dark: #0f0f0f;

  --bg-color-main: #ededed;
  --bg-color-light: #f7f7f7;
  --bg-color-dark: #d1d1d1;

  --primary-color-main: #4627ce;
  --primary-color-light: #6b57ff;
  --primary-color-dark: #341ea4;
  --primary-color-hover: #6243f0;

  --secondary-color-main: #d6c7f5;
  --secondary-color-light: #e6dbff;
  --secondary-color-dark: #a69ed0;
  --secondary-color-hover: #e8defa;

  --accent-color-main: #ae3dff;
  --accent-color-light: #ca8bff;
  --accent-color-dark: #7a28b8;
  --accent-color-hover: #c164ff;
  */

 

  /* Success colors */
  --success-light: #4caf50;
  --success-main: #2e7d32;
  --success-dark: #1b5e20;

  /* Error colors */
  --error-light: #ef5350;
  --error-main: #d32f2f;
  --error-dark: #c62828;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3{
  font-family: var(--font-heading);
}

p, span, li{
  font-family: var(--font-body);
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
