.detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 25px;

  width: 100%;

  background-color: var(--background);
}

.detail-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 100%;
  max-width: 1000px;
  padding: 10px;

  background-color: var(--background);
  color: var(--foreground);
}

.detail-page__favorite {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: -15px;
}

.detail-page__favorite-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary);
  color: color-mix(in srgb, var(--primary-foreground) 100%, var(--primary) 0%);

  font-family: var(--font-heading);
  font-weight: 500;
  font-size: var(--subtitle-size);

  padding: 10px;
  border-radius: 10px; 
}

.detail-page__favorite-btn:hover {
  background: color-mix(in srgb, var(--primary) 75%, var(--accent) 25%);
  color: color-mix(in srgb, var(--primary-foreground) 100%, var(--primary) 0%);
}

.detail-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 100%;
  padding: 10px;
}

.detail-page__title {
  width: 100%;

  font-size: var(--title-size);
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.detail-page__header,
.detail-page__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-page__header {
  gap: 10px;
}

.detail-page__image {
  width: 105px;
  height: 105px;

  border-radius: 50%;
  border: 2px solid var(--background);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.detail-page__name {
  font-size: var(--subtitle-size);
  font-weight: 600;
}

.detail-page__symbol {
  font-size: var(--subtitle-size);
  color: var(--secondary-foreground);
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.detail-page__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  width: 100%;
}

.detail-page__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 15px 5px;

  font-family: var(--font-heading);
  text-align: center;

  border-top: 1px solid color-mix(in srgb, var(--accent) 50%, transparent 50%);
}

.detail-page__price {
  font-size: var(--subtitle-size);
}

.detail-page__info-label {
  font-size: var(--paragraph-size);
  font-family: var(--font-heading);
  color: color-mix(in srgb, var(--primary) 50%, var(--foreground) 50%);
  font-weight: 600;
}

.detail-page__change.positive {
  color: var(--success-main);
}

.detail-page__change.negative {
  color: var(--error-main);
}

.detail-page__error {
  justify-content: center;
}

.detail-page__error--title {
  font-size: var(--title-size);
  color: var(--accent);
}
.detail-page__error--text {
  font-size: var(--subtitle-size);
  color: var(--foreground);
}

@media screen and (min-width: 720px) {
  .detail-page__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .detail-page__content {
    justify-content: start;

    border: none;
  }

  .detail-page__title {
    padding-left: 10px;

    text-align: left;
  }
}
