.footer {
  background-color: color-mix(in srgb, var(--background) 90%, var(--foreground) 10%);
  color: var(--foreground);
  padding: 10px 20px;
  text-align: center;
}

.footer-text {
  font-size: var(--info-size);
  font-weight: 300;
}

.footer-link {
  color: color-mix(in srgb, var(--primary) 75%, var(--foreground) 25%);
  font-family: var(--font-heading);
  font-weight: 700;
  border-bottom: 1px solid color-mix(in srgb, var(--primary) 90%, var(--primary-foreground) 10%);
}

.footer-brand {
  font-family: var(--font-heading);
  font-weight: 700;
  color: color-mix(in srgb, var(--secondary-foreground) 90%, var(--secondary) 10%);
}
