.crypto-chart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 250px;
  padding: 20px 0px;
}

.crypto-chart__buttons {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  gap: 10px;

  min-height: 50px;
}

.crypto-chart__buttons button {
  padding: 10px 20px;

  font-weight: 700;
  color: var(--foreground);

  border: 1px solid var(--accent);
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.crypto-chart__buttons button.active {
  padding: 15px 25px;
  background-color: color-mix(in srgb, var(--accent) 75%, var(--accent-foreground) 25%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.crypto-detail-chart {
  display: flex;
  justify-content: center;

  min-height: fit-content;
  height: 150px;
}

