.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  gap: 5px;
  
  height: 100vh;

  text-align: center;

  background-color: var(--bg-color-dark);
}

.not-found-brand {
  position: fixed;
  top: 15px;
  left: 20px;

  font-family: var(--font-heading);
  font-size: var(--subtitle-size);
  color: var(--text-color-main);
  font-weight: 700;
  
  border-bottom: 1px solid var(--text-color-light);
}

.not-found-title {
  font-family: var(--font-heading);
  font-size: var(--title-size);
  line-height: 100%;
  color: var(--text-color-main);
}

.not-found-message {
  font-family: var(--font-body);
  font-size: var(--paragraph-size);
  color: var(--text-color-dark);
}

.not-found-link {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  
  font-family: var(--font-heading);
  font-size: var(--info-size);
  color: var(--text-button-light);
  font-weight: 500;
  
  background-color: var(--primary-color-main);
}

.not-found-link:hover {
  background-color: var(--primary-color-dark);
  color: var(--text-color-main);
}