.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  height: 100vh;

  text-align: center;

  background-color: var(--background);
}

.not-found-brand {
  position: fixed;
  top: 15px;
  left: 20px;

  font-family: var(--font-heading);
  font-size: var(--subtitle-size);
  color: var(--foreground);
  font-weight: 700;

  border-bottom: 1px solid var(--muted-foreground);
}

.not-found-title {
  font-family: var(--font-heading);
  font-size: var(--title-size);
  line-height: 100%;
  color: var(--foreground);
}

.not-found-message {
  font-family: var(--font-body);
  font-size: var(--paragraph-size);
  color: var(--muted-foreground);
}

.not-found-link {
  margin-top: 25px;
  padding: 15px 20px;
  border-radius: 10px;
  
  font-family: var(--font-heading);
  font-size: var(--info-size);
  color: var(--primary-foreground);
  font-weight: 500;
  
  background-color: var(--primary);
}

.not-found-link:hover {
  background-color: color-mix(in srgb, var(--primary) 80%, var(--primary-foreground) 20%);
}